*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */


.header{
    display:flex;
    background-color: beige;
    padding: 10px;
}

.header-logo img{
    height:100px;
}

.header-title{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;

}

.header-title a{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

/* Nav Bar */

.nav{
    background-color: black;
    padding: 10px;
    margin-top: 0px;
}

.nav-item{
    display: inline-block;
    margin-left: 20px;
    height:20px;
}

.nav-item a{
    color:white;
    text-decoration: none;
}

.nav-item a:hover{
    color: cadetblue;
}

/* Konten */

.konten{
    width: 80%;
    margin:auto;
}

.konten h1{
    color:black;
    font-size: 35px;
}

.konten h2{
    color:black;
    font-size: 35px;
}

.tabel{
    border-spacing: 2.5px;
}

.tabel-header{
    background-color: beige; 
}

.tabel-header th{
    padding: 10px;
    text-align: left;
}

.tabel-konten{
    background-color: azure;
}

.tabel-genap1{
    background-color: aliceblue;
}

.tabel-konten td{
    padding: 10px;
    text-align: left;
}

td>img{
    width: 100px;
}

.tabel-konten:hover{
    background-color: beige;
}

.btn2{
    background: transparent;
    border: none;
    font-size: 25px;
    outline: none;
    color: grey;   
    justify-content: center;
}

.btn2:hover{
    cursor: pointer;   
}

.btn3{
    background: transparent;
    border: none;
    font-size: 25px;
    outline: none;
    color: grey;
    justify-content: center;
}

.btn3:hover{
    cursor: pointer;    
}
 
.l-count{
    justify-content: center; 
    font-size: 20px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.l-count2{
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px; 
}
/* Form */

.form-group{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group label{
    display: block;
    font-size: 20px;
    color: rgb(135,135,135);
}

.form-group input{
    display: block;
    margin-top: 10px;
    width:60%;
}

.form-group textarea{
    display: block;
    margin-top: 10px;
    height: 200px;
    width: 60%;
}

.btn{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    background-color: darkolivegreen;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: black;
}

.btn:active{
    background-color: beige;
    color: black;
}

/* Wrapper */

.wrapper{
    overflow: hidden;
}

.wrapper img{
    transition: scale 400ms;
}

.wrapper:hover img{
    scale: 120%;
}

.tambah-konten{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    background-color: darkolivegreen;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    justify-content: center;
    margin-left: 10px;
}

.tambah-konten:hover{
    background-color: black;
}

.tambah-konten:active{
    background-color: beige;
    color: black;
}

.add-meme input{
    padding: 5px;
}

/* sosmed */

.social-media{
    padding: 50px;
    justify-content: center;
    margin-left: 15px;
    flex: auto;
    margin-top: 20px;
}
